.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* Fixed sidenav, full height */
.sidenav {
	height: 100%;
	width: 280px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #242426;
	overflow-x: hidden;
	padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
	width: 100%;
	padding: 6px 0px 6px 12px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	border: none;
	background: none;
	text-align: left;
	cursor: pointer;
	outline: none !important;
}

.sidenav p {
	color: white;
	padding: 2px 8px 2px 14px;
	font-weight: bold;
	font-size: 20px;
}

.sidenav div.admin_outer p {
	background-color: #e0e8f1;
	color: black;
	width: 150px;
	margin: 10px 10px 10px 10px;
	padding: 4px 8px 4px 14px;
	border-radius: 5px;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
	color: lightgrey;
	text-decoration: none;
}

/* Main content */
.main {
	margin-left: 270px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: #2e6dd2;
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #191919;
	padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

.page_header {
	width: 100%;
	height: 50px;
	font-weight: bold;
	/* background-color: #4d4d4d; */
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	line-height: 2;
	position: fixed;
	top: 0;
}

.page_header .page_title {
	text-align: center;
	font-size: 24px;
	color: black;
}

.page_content {
	margin-left: 320px;
	margin-right: 50px;
	margin-top: 80px;
}

#trace_casual_contacts_form label,
#update_hotspot_details_outer label {
	font-size: 18px;
	font-weight: bold;
}

#trace_casual_contacts_form input {
	width: 500px;
}

#trace_casual_contacts_form select {
	width: 300px;
}

#trace_casual_contacts_form .input_outer {
	/* display: inline-block; */
}

#trace_casual_contacts_form .label_outer,
#trace_casual_contacts_form input,
#trace_casual_contacts_form select,
#update_hotspot_details_outer .label_outer,
#update_hotspot_details_outer input,
#update_hotspot_details_outer textarea,
#update_hotspot_details_outer select  {
	vertical-align: middle;
	display: inline-block;
}

#update_hotspot_details_outer .label_outer,
#update_hotspot_details_outer input,
#update_hotspot_details_outer textarea,
#update_hotspot_details_outer select  {
	margin-bottom: 5px;
}

#trace_casual_contacts_form .label_outer {
	width: 450px;
}

#update_hotspot_details_outer .label_outer {
	width: 150px;
}

.label_outer_add {
	width: 300px;
}

#trace_casual_contacts_form input {
	width: 300px;
}

#update_hotspot_details_outer input,
#update_hotspot_details_outer textarea,
#update_hotspot_details_outer select  {
	width: 600px;
}

#trace_casual_contacts_form #search_submit_btn {
	width: 300px;
}

#trace_casual_contacts_form #check_in_time_range_before_hr,
#trace_casual_contacts_form #check_in_time_range_before_min,
#trace_casual_contacts_form #check_in_time_range_after_hr,
#trace_casual_contacts_form #check_in_time_range_after_min {
	width: 100px;
	margin-right: 10px;
}

#trace_casual_contacts_form #check_in_time_range_before_min,
#trace_casual_contacts_form #check_in_time_range_after_min {
	margin-left: 10px;
}

.search_place_outer {
	position: relative;
}

.search_place_outer_add input {
	position: relative;
	width: 750px !important;
	margin-bottom: 0 !important;
}

.predict_dropdown_hidden {
	display: none;
}

.predict_dropdown_show {
	position: absolute;
	top: 10;
	z-index: 100;
	background-color: white;
	border: 1px solid #c0cbd3;
	width: 96%;
	margin-bottom: 20px;
	padding: 0 10px;
}

.predict_dropdown_show_add {
	position: absolute;
	top: 10;
	z-index: 100;
	background-color: white;
	border: 1px solid #c0cbd3;
	width: 750px;
	margin-bottom: 20px;
	padding: 0 10px;
}

#long_btn {
	width: 300px;
}

.centerButton {
	display: flex;
	align-content: center;
	justify-content: center;
}

.casual_contacts_outer {
	margin-bottom: 20px;
}

#confirmed_case_info_outer {
	border-radius: 10px;
	background-color: #ececec;
	width: 500px;
	height: 110px;
	margin: 30px 0 20px 0;
}

#confirmed_case_info_title {
	padding: 15px 0px;
	text-align: center;
}

#confirmed_case_info {
	display: flex;
}

#confirmed_case_info p {
	flex: 0.3;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

#confirmed_case_header_outer {
	width: 100%;
	background-color: #09467d;
	padding: 20px 20px 20px 20px;
	color: white;
	margin-bottom: 20px;
}

#confirmed_case_header_inner {
	display: flex;
}

#confirmed_case_header_inner p {
	flex: 0.1;
	margin-bottom: 0;
}

#casual_contact_header_outer {
	width: 100%;
	background-color: #07689c;
	padding: 20px 20px 20px 20px;
	color: white;
	margin-bottom: 20px;
}

#casual_contact_header_inner {
	display: flex;
}

#casual_contact_header_inner p {
	margin-bottom: 0;
}

#casual_contact_header_inner p:nth-child(1) {
	flex: 0.2;
}

#casual_contact_header_inner p:nth-child(2) {
	flex: 0.25;
}

#premise_header_outer {
	width: 100%;
	background-color: #3050c0;
	padding: 20px 20px 20px 20px;
	color: white;
	margin-bottom: 20px;
}

#premise_header_inner {
	display: flex;
}

#premise_header_inner p {
	margin-bottom: 0;
}

#premise_header_inner p:nth-child(1) {
	flex: 0.2;
}

#premise_header_inner p:nth-child(2) {
	flex: 0.25;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
